.primary-pink-button-container {
  display: flex;
  position: relative;
}
.primary-pink-button-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background: linear-gradient( 310deg ,#7928ca,#ff0080);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.primary-pink-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.header-header {
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  bottom: auto;
  display: flex;
  z-index: 3;
  position: fixed;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.header-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 157px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: space-between;
  background-color: hsla(0,0%,100%,.8)!important;
}
.header-container {
  color: var(--dl-color-gray-black);
  width: 116px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.header-navlink {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink:hover {
  color: var(--dl-color-gray-500);
}
.header-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.header-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandahalfunit);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.header-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink1 {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  text-decoration: none;
}
.header-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-icon2 {
  width: 24px;
  height: 24px;
}
.header-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.header-menu1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.header-navlink2 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-navlink2:hover {
  color: var(--dl-color-gray-500);
}
.header-text {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-text:hover {
  color: var(--dl-color-gray-500);
}
.header-navlink3 {
  transition: 0.3s;
  text-decoration: none;
}
.header-navlink3:hover {
  color: var(--dl-color-gray-500);
}
.header-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  flex-direction: column;
}
.header-root-class-name {
  display: none;
}
@media(max-width: 1920px) {
  .header-nav {
    width: 161px;
  }
  .header-container {
    width: 162px;
  }
}
@media(max-width: 1200px) {
  .header-nav {
    width: 155px;
  }
}
@media(max-width: 991px) {
  .header-nav {
    max-width: 960px;
  }
  .header-menu {
    display: none;
  }
}
@media(max-width: 767px) {
  .header-burger-menu {
    display: flex;
  }
}
@media(max-width: 479px) {
  .header-container2 {
    display: none;
  }
}

.primary-blue-button-container {
  display: flex;
  position: relative;
}
.primary-blue-button-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background: linear-gradient(310deg,#2152ff,#21d4fd);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.primary-blue-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}


.container-container {
  width: 100%;
  height: 30px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.container-image {
  width: 18%;
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  object-fit: cover;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.container-image1 {
  width: 20%;
  align-self: center;
  margin-top: 6px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
}
.container-image2 {
  width: 20%;
  align-self: center;
  margin-top: 7px;
  object-fit: cover;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.container-image3 {
  width: 20%;
  align-self: center;
  margin-top: 4px;
  object-fit: cover;
  padding-left: 0px;
  padding-right: 0px;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.container-image4 {
  width: 67px;
  height: 100%;
  align-self: center;
  margin-top: 7px;
  object-fit: cover;
  padding-left: 0px;
  padding-right: 0px;
}
@media(max-width: 767px) {
  .container-image {
    width: 183px;
    height: 25px;
  }
  .container-image1 {
    width: 135px;
    height: 100%;
  }
  .container-image2 {
    width: 152px;
    height: 22px;
  }
  .container-image3 {
    width: 116px;
    height: 100%;
  }
  .container-image4 {
    width: 95px;
    height: 21px;
  }
}

.footer-footer {
  width: 100%;
  height: 116px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fafcff;
}
.footer-container {
  color: var(--dl-color-gray-white);
  width: 1263px;
  height: 96px;
  display: flex;
  padding: 0px;
  z-index: 1;
  flex-wrap: wrap;
  max-width: 1920px;
  margin-top: var(--dl-space-space-halfunit);
  padding-top: 0px;
  justify-content: space-between;
}
.footer-container1 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.footer-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.footer-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.footer-container4 {
  height: 55px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  color: rgb(37, 47, 64);
  font-weight: 700;
  margin-left: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text1 {
  margin-left: 0px;
}
.footer-text3 {
  color: #252f40;
}
.footer-link {
  display: contents;
}
.footer-image {
  width: 22px;
  height: 18px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
  text-decoration: none;
}
.footer-root-class-name {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
  height: 100%;
  align-self: flex-start;
  background-color: var(--dl-color-gray-900);
}
.footer-root-class-name1 {
  background-color: var(--dl-color-gray-900);
}
@media(max-width: 1920px) {
  .footer-image {
    width: 29px;
    height: 23px;
    padding-right: 2px;
  }
}
@media(max-width: 991px) {
  .footer-container {
    padding: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-container4 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: radial-gradient(circle at left, rgba(20, 51, 234, 0.37) 0.00%,rgba(203, 211, 255, 0.37) 51.00%,rgba(203, 211, 255, 0.37) 54.00%);
}
.home-hero {
  width: 100%;
  height: 1031px;
  display: flex;
  max-width: 1320px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: flex-end;
}
.home-container1 {
  width: 100%;
  height: 736px;
  display: flex;
  position: relative;
  max-width: 1320px;
  min-height: 85vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-card {
  width: 60%;
  height: 373px;
  display: flex;
  z-index: 1;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius1);
  margin-bottom: 17px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0,0%,100%,.8);
}
.home-text {
  text-align: center;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-image: linear-gradient(90deg, rgb(131, 100, 206) 0%, rgb(100, 179, 244) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text3 {
  color: var(--dl-color-secondary-600);
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-tripleunit);
}
.home-container2 {
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-container3 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-link {
  display: contents;
}
.home-component1 {
  text-decoration: none;
}
.home-text4 {
  margin-top: var(--dl-space-space-unit);
}
.home-image {
  top: 0px;
  right: 562px;
  width: 668px;
  height: 949px;
  position: absolute;
  align-self: flex-end;
  margin-top: -3px;
  object-fit: cover;
  border-color: rgba(103, 116, 142, 0);
  border-width: 1px;
  object-position: right;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: var(--dl-radius-radius-buttonradius);
}
.home-features {
  width: 100%;
  height: 278px;
  display: none;
  flex-wrap: wrap;
  max-width: 1320px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home-slider {
  width: 1000px;
  height: 148px;
  display: inline-block;
  align-self: center;
  transition: 0.3s;
}

.home-slider-slide {
  width: 504px;
  height: 184px;
  display: flex;
  background-size: 100%;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Lenovo_Global_Corporate_Logo.png/2560px-Lenovo_Global_Corporate_Logo.png');
}
.home-slider-slide1 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1697384333613-de519c7367c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzAzN3w&ixlib=rb-4.0.3&q=80&w=1000');
}
.home-slider-slide2 {
  display: flex;
  background-size: 100%;
  background-image: url('https://images.unsplash.com/photo-1698180687511-bd6c0104ee98?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTk3NzQ5NXw&ixlib=rb-4.0.3&q=80&w=1000');
}
.home-slider-pagination {
  display: none;
}
.home-slider-button-prev {
  display: none;
}
.home-slider-button-next {
  display: none;
}
@media(max-width: 1920px) {
  .home-text {
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-image {
    top: -4px;
    right: 242px;
  }
}
@media(max-width: 1200px) {
  .home-image {
    top: -4px;
    right: -85px;
  }
}
@media(max-width: 991px) {
  .home-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-container1 {
    width: 951px;
    max-width: 960px;
  }
  .home-card {
    width: 579px;
    height: 435px;
  }
  .home-image {
    top: -2px;
    right: -127px;
  }
  .home-features {
    max-width: 960px;
  }
}
@media(max-width: 767px) {
  .home-card {
    width: 661px;
    height: 418px;
    align-items: center;
    margin-right: 0px;
  }
  .home-text3 {
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
  }
  .home-image {
    left: 60px;
    width: 639px;
    bottom: -249px;
  }
  .home-features {
    max-width: 720px;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 479px) {
  .home-hero {
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-container1 {
    width: 376px;
    height: 747px;
  }
  .home-card {
    width: 432px;
    height: 543px;
    padding: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    margin-right: 7px;
    padding-left: var(--dl-space-space-unit);
    padding-right: 13px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-container2 {
    align-items: center;
    flex-direction: column;
  }
  .home-container3 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image {
    left: 12px;
    width: 389px;
    bottom: -351px;
    height: 663px;
    display: flex;
  }
  .home-features {
    width: 100%;
  }
}
